<h2>Sign up</h2>

<div class="text-2xl">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "bg-slate-900 border-2 border-slate-200 mb-4" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "bg-slate-900 border-2 border-slate-200 mb-4" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "bg-slate-900 border-2 border-slate-200 mb-4" %>
    </div>

    <%= f.fields_for :profile do |p| %>
      <%= p.label "Your bio" %><br />
      <%= p.text_area :bio, class: "bg-slate-900 border-2 border-slate-200 mb-4" %>
    <% end %>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
